<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AnalyzeScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AnalyzeScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <AnalyzeScan.Properties.Settings>
      <setting name="Name" serializeAs="String">
        <value>AnalyzeScan</value>
      </setting>
      <setting name="EnableCdf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableXcalibur" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdditionalParamsToShow" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Accumulation Time</string>
            <string>Accumulation Time Averaged</string>
            <string>Auto MS/MS</string>
            <string>Averages</string>
            <string>Averages Made</string>
            <string>Compound Stability</string>
            <string>Count of Scans</string>
            <string>ICC Actual</string>
            <string>ICC Target</string>
            <string>Ion Polarity</string>
            <string>Manual MS(n)</string>
            <string>Mass Range Mode</string>
            <string>MRM</string>
            <string>Multiplier Gain Target</string>
            <string>Ready Polarity</string>
            <string>Scan Begin</string>
            <string>Scan End</string>
            <string>Start Polarity</string>
            <string>Stop Polarity</string>
            <string>Target Mass</string>
            <string>Trap Drive</string>
            <string>Trap Drive Level</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SaveAsPdfFilter" serializeAs="String">
        <value>Adobe Acrobat PDF files (*.pdf)|*.pdf|All files (*.*)|*.*</value>
      </setting>
      <setting name="SaveAsMzXmlFilter" serializeAs="String">
        <value>MzXML files (*.mzxml)|*.mzxml|All files (*.*)|*.*</value>
      </setting>
      <setting name="IntensityCuttoffPercentage" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ReportData" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Accumulation_Time</string>
            <string>Accumulation_Time_Averaged</string>
            <string>Averages_Made</string>
            <string>Mass_Range_Mode</string>
            <string>Ion_Polarity</string>
            <string>Manual_MSn</string>
            <string>MRM</string>
            <string>Auto_MSMS</string>
            <string>Averages</string>
            <string>Start_Polarity</string>
            <string>Stop_Polarity</string>
            <string>Ready_Polarity</string>
            <string>ICC_Target</string>
            <string>Multiplier_Gain_Target</string>
            <string>Scan_Begin</string>
            <string>Scan_End</string>
            <string>Count_of_Scans</string>
            <string>Target_Mass</string>
            <string>Compound_Stability</string>
            <string>Trap_Drive_Level</string>
            <string>Trap_Drive</string>
            <string>ICC_Actual</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LimpReportData" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Accumulation Time Averaged,Accumulation_Time_Averaged;Footer</string>
            <string>Averages Made,Averages_Made;Footer</string>
            <string>Mass Range Mode,Mass_Range_Mode;Footer</string>
            <string>Ion Polarity,Ion_Polarity;Header</string>
            <string>Manual MSN,Manual_MSn;Footer</string>
            <string>MRM,MRM;Footer</string>
            <string>Auto MS/MS,Auto_MSMS;Footer</string>
            <string>Averages,Averages;Footer</string>
            <string>Start Polarity,Start_Polarity;Footer</string>
            <string>Stop Polarity,Stop_Polarity;Footer</string>
            <string>Ready Polarity,Ready_Polarity;Footer</string>
            <string>ICC Target,ICC_Target;Footer</string>
            <string>Multiplier Gain Target,Multiplier_Gain_Target;Footer</string>
            <string>Scan Begin,Scan_Begin;Footer</string>
            <string>Scan End,Scan_End;Footer</string>
            <string>Target Mass,Target_Mass;Footer</string>
            <string>Compound Stability,Compound_Stability;Footer</string>
            <string>Trap Drive Level,Trap_Drive_Level;Footer</string>
            <string>Trap Drive,Trap_Drive;Footer</string>
            <string>ICC Actual,ICC_Actual;Footer</string>
            <string>Count of Scans,Scan_count;Footer</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ReportTemplatePath" serializeAs="String">
        <value>C:\Users\den\source\repos\AnalyzeScan\AnalyzeScan\Templates\ReportTemplate.pdf</value>
      </setting>
    </AnalyzeScan.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <AnalyzeScan.Properties.Settings>
      <setting name="ReportFields" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AnalysisDate</string>
            <string>AnalysisTime</string>
            <string>ReportDate</string>
            <string>ReportTime</string>
            <string>PatientId</string>
            <string>Tissue</string>
            <string>MedicalComments</string>
            <string>TechInfo</string>
          </ArrayOfString>
        </value>
      </setting>
    </AnalyzeScan.Properties.Settings>
  </userSettings>
</configuration>