<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <applicationSettings>
        <TestApp.Properties.Settings>
            <setting name="LimpReportData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Accumulation Time Averaged,Accumulation_Time_Averaged;Footer</string>
                        <string>Averages Made,Averages_Made;Footer</string>
                        <string>Mass Range Mode,Mass_Range_Mode;Footer</string>
                        <string>Ion Polarity,Ion_Polarity;Header</string>
                        <string>Manual MSN,Manual_MSn;Footer</string>
                        <string>MRM,MRM;Footer</string>
                        <string>Auto MS/MS,Auto_MSMS;Footer</string>
                        <string>Averages,Averages;Footer</string>
                        <string>Start Polarity,Start_Polarity;Footer</string>
                        <string>Stop Polarity,Stop_Polarity;Footer</string>
                        <string>Ready Polarity,Ready_Polarity;Footer</string>
                        <string>ICC Target,ICC_Target;Footer</string>
                        <string>Multiplier Gain Target,Multiplier_Gain_Target;Footer</string>
                        <string>Scan Begin,Scan_Begin;Footer</string>
                        <string>Scan End,Scan_End;Footer</string>
                        <string>Target Mass,Target_Mass;Footer</string>
                        <string>Compound Stability,Compound_Stability;Footer</string>
                        <string>Trap Drive Level,Trap_Drive_Level;Footer</string>
                        <string>Trap Drive,Trap_Drive;Footer</string>
                        <string>ICC Actual,ICC_Actual;Footer</string>
                        <string>Count of Scans,Scan_count;Footer</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TestApp.Properties.Settings>
    </applicationSettings>
</configuration>
